In [116]:
# Dependencies and Setup
import pandas as pd

# File to Load
csv_file = "Resources/purchase_data.csv"

# file path
purchase_data_df = pd.read_csv(csv_file)

## Player Count

* Display the total number of players

In [117]:
unique_sn = purchase_data_df["SN"].unique()
player_count = len(unique_sn)
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [118]:
unique_items = len(purchase_data_df["Item Name"].unique())
unique_items

179

In [119]:
average_price = purchase_data_df["Price"].mean()
average_price
formatted_average_price = "${:,.2f}".format(average_price)
formatted_average_price

'$3.05'

In [120]:
total_purchases = len(purchase_data_df["Purchase ID"].unique())
total_purchases

780

In [121]:
total_revenue = purchase_data_df["Price"].sum()
total_revenue
formatted_total_rev = "${:,.2f}".format(total_revenue)
formatted_total_rev

'$2,379.77'

In [122]:
purchasing_analysis = pd.DataFrame({"Unique Items": [unique_items],
                              "Average Price": [formatted_average_price],
                              "Total Purchases": [total_purchases],
                              "Total Revenue": [formatted_total_rev]})
purchasing_analysis

   Unique Items Average Price  Total Purchases Total Revenue
0           179         $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [130]:
updated_data_df = purchase_data_df.drop_duplicates(["SN"])
updated_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [135]:
updated_data_df["Gender"].value_counts()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [140]:
male_count = len(updated_data_df[updated_data_df["Gender"] == "Male"])
male_count

484

In [149]:
percent_male = round(male_count / player_count * 100)
percent_male

84

In [150]:
female_count = len(updated_data_df[updated_data_df["Gender"] == "Female"])
female_count

81

In [151]:
percent_female = round(female_count / player_count * 100)
percent_female

14

In [152]:
other_count = len(updated_data_df[updated_data_df["Gender"] == "Other / Non-Disclosed"])
other_count

11

In [153]:
percent_other = round(other_count / player_count * 100)
percent_other

2

In [161]:
gender_analysis = pd.DataFrame({"Gender": ["Male", "Female", "Other"],
                                "Total Count": [male_count, female_count, other_count],
                                "Percent": [percent_male, percent_female, percent_other]})
gender_analysis.set_index("Gender")

        Total Count  Percent
Gender
Male            484       84
Female           81       14
Other            11        2


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

* Break each bin into 4 years (i.e. &lt;10, 10-14, 15-19, etc.)

In [71]:
# Create the bins
# Bins are 0, 59.9, 69.9, 79.9, 89.9, 100.   
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99999]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [72]:
purchase_data_df["Age Demographics"] = pd.cut(purchase_data_df["Age"], bins=age_bins, labels=group_names, include_lowest=True)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
467,467,Adairialis76,16,Male,123,Twilight's Carver,2.28,15-19
142,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48,35-39
388,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",4.91,15-19
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
630,630,Aelaria33,23,Male,171,Scalpel,1.79,20-24
...,...,...,...,...,...,...,...,...
340,340,Yastyriaphos75,22,Male,41,Orbit,4.75,20-24
257,257,Yasur35,26,Male,175,Woeful Adamantite Claymore,4.48,25-29
514,514,Yasur85,21,Male,21,Souleater,1.10,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
572,572,Yoishirrala98,17,Female,145,Fiery Glass Crusader,4.58,15-19

In [75]:
agegroup_df = purchase_data_df.loc[:,["Item Name", "Age Demographics"]]
agegroup_df.head()

                                     Item Name Age Demographics
467                          Twilight's Carver            15-19
142                 Woeful Adamantite Claymore            35-39
388              Blazeguard, Reach of Eternity            15-19
28   Stormbringer, Dark Blade of Ending Misery            20-24
630                                    Scalpel            20-24

In [77]:
females = purchase_data_df["Gender"] == "Female"
females

467    False
142     True
388    False
28     False
630    False
       ...
340    False
257    False
514    False
777    False
572     True
Name: Gender, Length: 414, dtype: bool

In [83]:
only_female = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]
print(only_female)
num_female = len(only_female)
num_female

     Purchase ID              SN  Age  Gender  Item ID  \
142          142     Adastirin33   35  Female      175
775          775      Aethedru70   21  Female       60
516          516        Aidain51   39  Female       35
429          429       Aiduesu86   22  Female      179
155          155      Aillyrin83   10  Female       98
666          666      Assilsan72   20  Female       82
41            41       Assosia88   20  Female        7
92            92    Chadistaya75   21  Female       39
653          653       Chamast86   32  Female       53
66            66    Chanastsda67   21  Female        6
586          586      Chanirra79   23  Female      155
448          448      Chanjask65   18  Female       68
446          446    Chanossast57    7  Female      119
485          485        Errian63   26  Female       94
451          451        Eudanu32   15  Female      122
731          731        Eudanu84   22  Female       12
117          117   Frichaststa61   21  Female      117
119          119     Frichosia58   15  Female       87
437          437   Frichosiala98   24  Female       43
206          206      Haisurra41   20  Female       78
81            81        Heudai45    8  Female      174
402          402      Heunadil74   23  Female      129
333          333        Iduenu77   17  Female      114
667          667       Inasuir29   40  Female       66
528          528       Isurria36   22  Female       19
84            84      Jiskjask60   21  Female       34
327          327       Layjask75   22  Female       17
15            15       Lisassa64   21  Female       98
641          641       Lisirra58   20  Female       49
409          409     Lisotesta51   15  Female      144
196          196     Maradaran90   35  Female        9
157          157        Marast30   18  Female      108
76            76    Mindadaran26   13  Female       88
306          306      Mindilsa34   24  Female       38
336          336       Phaedue89   22  Female       45
613          613      Quanrion96   21  Female      159
254          254     Quanunwen42   23  Female       94
658          658      Quilassa66    7  Female      178
38            38        Reulae52   10  Female      116
607          607         Rithe53   15  Female       80
524          524         Sally64   25  Female       46
444          444   Sondassasya91   21  Female       24
450          450   Sondistanya61   18  Female       35
482          482      Sundjask71   32  Female       77
296          296   Syalollorap93   22  Female       65
177          177        Syathe73   30  Female      135
233          233      Taeduenu92   19  Female       66
697          697  Tyaelistidru84   19  Female        1
699          699       Tyaelly53   17  Female      130
225          225     Tyaenasti87   24  Female      154
317          317      Tyidainu31   18  Female        3
283          283        Wailin72   21  Female        9
280          280          Yana46   20  Female       16
698          698     Yarithrin84   30  Female       58
572          572   Yoishirrala98   17  Female      145

                                        Item Name  Price Age Demographics
142                    Woeful Adamantite Claymore   4.48            35-39
775                                          Wolf   3.54            20-24
516                      Heartless Bone Dualblade   3.45            35-39
429               Wolf, Promise of the Moonwalker   4.48            20-24
155                   Deadline, Voice Of Subtlety   2.89            10-14
666                                       Nirvana   4.90            20-24
41                   Thorn, Satchel of Dark Souls   1.33            20-24
92           Betrayal, Whisper of Grieving Widows   3.94            20-24
653                             Vengeance Cleaver   2.05            30-34
66                                    Rusty Skull   3.70            20-24
586                     War-Forged Gold Deflector   1.01            20-24
448             Storm-Weaver, Slayer of Inception   4.32            15-19
446     Stormbringer, Dark Blade of Ending Misery   4.32              <10
485                                Mourning Blade   3.49            25-29
451                              Unending Tyranny   2.85            15-19
731                                         Dawne   1.02            20-24
117             Heartstriker, Legacy of the Light   1.79            20-24
119                      Deluge, Edge of the West   4.43            15-19
437                                     Foul Edge   3.54            20-24
206                    Glimmer, Ender of the Moon   4.40            20-24
81                                Primitive Blade   3.47              <10
402            Fate, Vengeance of Eternal Justice   1.54            20-24
333                            Yearning Mageblade   3.82            15-19
667                            Victor Iron Spikes   4.40              40+
528                 Pursuit, Cudgel of Necromancy   1.02            20-24
84                                Retribution Axe   2.22            20-24
327                  Lazarus, Terror of the Earth   1.70            20-24
15                    Deadline, Voice Of Subtlety   2.89            20-24
641              The Oculus, Token of Lost Worlds   2.96            20-24
409                        Blood Infused Guardian   1.94            15-19
196             Thorn, Conqueror of the Corrupted   2.73            35-39
157     Extraction, Quickblade Of Trembling Hands   3.53            15-19
76               Emberling, Defender of Delusions   3.75            10-14
306             The Void, Vengeance of Dark Magic   2.37            20-24
336                           Glinting Glass Edge   3.85            20-24
613             Oathbreaker, Spellblade of Trials   3.08            20-24
254                                Mourning Blade   3.49            20-24
658  Oathbreaker, Last Hope of the Breaking Storm   4.23              <10
38                        Renewed Skeletal Katana   4.18            10-14
607                                     Dreamsong   3.39            15-19
524                       Hopeless Ebon Dualblade   1.33            25-29
444                                 Warped Fetish   3.81            20-24
450                      Heartless Bone Dualblade   3.45            15-19
482                    Piety, Guardian of Riddles   4.00            30-34
296                     Conqueror Adamantite Mace   4.24            20-24
177                       Warped Diamond Crusader   1.40            30-34
233                            Victor Iron Spikes   4.40            15-19
697                                      Crucifer   3.26            15-19
699                                         Alpha   2.07            15-19
225                                  Feral Katana   4.40            20-24
317                                  Phantomlight   2.49            15-19
283             Thorn, Conqueror of the Corrupted   2.73            20-24
280                               Restored Bauble   3.55            20-24
698             Freak's Bite, Favor of Holy Might   4.14            30-34
572                          Fiery Glass Crusader   4.58            15-19

55

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame