Out of the total amount of players, 84% are male. 14% of the players are female.
63% of the players fall into the age category of 20-24. 
The most popular game item was called "Final Critic" followed closely by "Oathbreaker".

In [183]:
# Dependencies and Setup
import pandas as pd

# File to Load
csv_file = "Resources/purchase_data.csv"

# file path
purchase_data_df = pd.read_csv(csv_file)

## Player Count

* Display the total number of players

In [184]:
unique_sn = purchase_data_df["SN"].unique()
player_count = len(unique_sn)
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [185]:
unique_items = len(purchase_data_df["Item Name"].unique())
unique_items

179

In [186]:
average_price = purchase_data_df["Price"].mean()
average_price
formatted_average_price = "${:,.2f}".format(average_price)
formatted_average_price

'$3.05'

In [187]:
total_purchases = len(purchase_data_df["Purchase ID"].unique())
total_purchases

780

In [188]:
total_revenue = purchase_data_df["Price"].sum()
total_revenue
formatted_total_rev = "${:,.2f}".format(total_revenue)
formatted_total_rev

'$2,379.77'

In [189]:
purchasing_analysis = pd.DataFrame({"Unique Items": [unique_items],
                              "Average Price": [formatted_average_price],
                              "Total Purchases": [total_purchases],
                              "Total Revenue": [formatted_total_rev]})
purchasing_analysis

   Unique Items Average Price  Total Purchases Total Revenue
0           179         $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [190]:
updated_data_df = purchase_data_df.drop_duplicates(["SN"])
updated_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [191]:
updated_data_df["Gender"].value_counts()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [192]:
male_count = len(updated_data_df[updated_data_df["Gender"] == "Male"])
male_count

484

In [193]:
percent_male = round(male_count / player_count * 100)
percent_male

84

In [194]:
female_count = len(updated_data_df[updated_data_df["Gender"] == "Female"])
female_count

81

In [195]:
percent_female = round(female_count / player_count * 100)
percent_female

14

In [196]:
other_count = len(updated_data_df[updated_data_df["Gender"] == "Other / Non-Disclosed"])
other_count

11

In [197]:
percent_other = round(other_count / player_count * 100)
percent_other

2

In [198]:
gender_analysis = pd.DataFrame({"Gender": ["Male", "Female", "Other"],
                                "Total Count": [male_count, female_count, other_count],
                                "Percent": [percent_male, percent_female, percent_other]})
gender_analysis.set_index("Gender")

        Total Count  Percent
Gender
Male            484       84
Female           81       14
Other            11        2


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [199]:
# Male Calculations
male_data_df = purchase_data_df[purchase_data_df["Gender"] == "Male"]
male_data_df
male_purchase_count = len(male_data_df['Item Name'])
male_purchase_count
male_avg_price = male_data_df['Price'].mean()
male_avg_price
formatted_male_avg_price = "${:,.2f}".format(male_avg_price)
formatted_male_avg_price
male_total_perperson = male_data_df['Price'].sum() / male_count
male_total_perperson
formatted_male_perperson = "${:,.2f}".format(male_total_perperson)
formatted_male_perperson

'$4.07'

In [200]:
# Female calculations
female_data_df = purchase_data_df[purchase_data_df["Gender"] == "Female"]
female_data_df
female_purchase_count = len(female_data_df['Item Name'])
female_purchase_count
female_avg_price = female_data_df['Price'].mean()
female_avg_price
formatted_female_avg_price = "${:,.2f}".format(female_avg_price)
formatted_female_avg_price
female_total_perperson = female_data_df['Price'].sum() / female_count
female_total_perperson
formatted_female_perperson = "${:,.2f}".format(female_total_perperson)
formatted_female_perperson

'$4.47'

In [201]:
# Other/Non-Disclosed calculations
other_data_df = purchase_data_df[purchase_data_df["Gender"] == "Other / Non-Disclosed"]
other_data_df
other_purchase_count = len(other_data_df['Item Name'])
other_purchase_count
other_avg_price = other_data_df['Price'].mean()
other_avg_price
formatted_other_avg_price = "${:,.2f}".format(other_avg_price)
formatted_other_avg_price
other_total_perperson = other_data_df['Price'].sum() / other_count
other_total_perperson
formatted_other_perperson = "${:,.2f}".format(other_total_perperson)
formatted_other_perperson

'$4.56'

In [202]:
gender_purchase_analysis = pd.DataFrame({"Gender": ["Male", "Female", "Other"],
                                "Purchase Count": [male_purchase_count, female_purchase_count, other_purchase_count],
                                "Average Purchase Price": [formatted_male_avg_price, formatted_female_avg_price, formatted_other_avg_price],
                                "Average Purchase Total Per Person": [formatted_male_perperson, formatted_female_perperson, formatted_other_perperson]})
gender_purchase_analysis.set_index("Gender")

,Purchase Count,Average Purchase Price,Average Purchase Total Per Person
Gender,,,
Male,652,$3.02,$4.07
Female,113,$3.20,$4.47
Other,15,$3.35,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

* Break each bin into 4 years (i.e. &lt;10, 10-14, 15-19, etc.)

In [203]:
# Create the bins
# Bins are 0, 59.9, 69.9, 79.9, 89.9, 100.   
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99999]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [204]:
purchase_data_df["Age Demographics"] = pd.cut(purchase_data_df["Age"], bins=age_bins, labels=group_names, include_lowest=True)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [209]:
age_demographics_df = purchase_data_df.set_index("Age Demographics")
age_demographics_df = age_demographics_df.reset_index()
age_demographics_df

,Age Demographics,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,20-24,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,40+,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,20-24,2,Ithergue48,24,Male,92,Final Critic,4.88
3,20-24,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,20-24,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...,...
775,20-24,775,Aethedru70,21,Female,60,Wolf,3.54
776,20-24,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,20-24,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,<10,778,Sisur91,7,Male,92,Final Critic,4.19
779,20-24,779,Ennrian78,24,Male,50,Dawn,4.60

In [210]:
age_count = age_demographics_df["Age Demographics"].value_counts().to_frame()
age_percent = round(age_count / player_count,2) * 100
age_percent

Age_count_results = pd.DataFrame({"Total Count": age_count["Age Demographics"],
                "Percentage": age_percent["Age Demographics"]})

Age_count_results.reset_index()

   index  Total Count  Percentage
0  20-24          365        63.0
1  15-19          136        24.0
2  25-29          101        18.0
3  30-34           73        13.0
4  35-39           41         7.0
5  10-14           28         5.0
6    <10           23         4.0
7    40+           13         2.0

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [211]:
purchase_count_age = (age_demographics_df["Purchase ID"].count())
avg_price_age = (age_demographics_df[["Price"]].mean())
sum_price_age = (age_demographics_df[["Price"]].sum())

age_results_df = pd.DataFrame({"Purchase Count": purchase_count_age.tolist(),
                "Average Purchase Price": avg_price_age["Price"],
                "Total Purchase Value": sum_price_age["Price"]})



print(age_results_df)

ValueError: If using all scalar values, you must pass an index

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [115]:
top_spenders = purchase_data_df.groupby("SN")
top_spender_purchase_count = (top_spenders["Purchase ID"].count())
top_spender_avg_price = (top_spenders[["Price"]].mean())
top_spender_total_price = (top_spenders[["Price"]].sum())
top_spenders_df = purchase_data_df.set_index("SN")
top_spenders_df = top_spenders_df.groupby(["SN"]).sum()
top_spenders_df.sort_values("Price", ascending = False)

             Purchase ID  Age  Item ID  Price
SN
Lisosia93           1630  125      442  18.96
Idastidru52         1999   96      527  15.45
Chamjask73          1306   66      339  13.83
Iral74              2285   84      518  13.62
Iskadarya95          713   60      321  13.10
...                  ...  ...      ...    ...
Ililsasya43          702   19       12   1.02
Irilis75             582   20       19   1.02
Aidai61              282   21      155   1.01
Chanirra79           586   23      155   1.01
Alo38                 63   20      125   1.00

[576 rows x 4 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [119]:
most_popular = purchase_data_df.groupby(["Item ID","Item Name"])["Price"]
most_popular_describe = most_popular.describe()
most_popular_count = most_popular_describe["count"]
most_popular_price = most_popular_describe["mean"]
most_popular_total = most_popular_count * most_popular_price

most_popular_results = pd.DataFrame({"Purchase Count": most_popular_count,
                "Item Price": most_popular_price,
                "Total Purchase Value": most_popular_total});

most_popular_results = most_popular_results.sort_values("Purchase Count", ascending=False)

most_popular_results.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13.0,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12.0,4.230000,50.76
145,Fiery Glass Crusader,9.0,4.580000,41.22
132,Persuasion,9.0,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9.0,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [121]:
most_popular_results = most_popular_results.sort_values("Total Purchase Value", ascending=False)

most_popular_results.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13.0,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12.0,4.230000,50.76
82,Nirvana,9.0,4.900000,44.10
145,Fiery Glass Crusader,9.0,4.580000,41.22
103,Singed Scalpel,8.0,4.350000,34.80