In [168]:
# Dependencies and Setup
import pandas as pd

# File to Load
csv_file = "Resources/purchase_data.csv"

# file path
purchase_data_df = pd.read_csv(csv_file)

## Player Count

* Display the total number of players

In [169]:
unique_sn = purchase_data_df["SN"].unique()
player_count = len(unique_sn)
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [170]:
unique_items = len(purchase_data_df["Item Name"].unique())
unique_items

179

In [171]:
average_price = purchase_data_df["Price"].mean()
average_price
formatted_average_price = "${:,.2f}".format(average_price)
formatted_average_price

'$3.05'

In [172]:
total_purchases = len(purchase_data_df["Purchase ID"].unique())
total_purchases

780

In [173]:
total_revenue = purchase_data_df["Price"].sum()
total_revenue
formatted_total_rev = "${:,.2f}".format(total_revenue)
formatted_total_rev

'$2,379.77'

In [175]:
purchasing_analysis = pd.DataFrame({"Unique Items": [unique_items],
                              "Average Price": [formatted_average_price],
                              "Total Purchases": [total_purchases],
                              "Total Revenue": [formatted_total_rev]})
purchasing_analysis

   Unique Items Average Price  Total Purchases Total Revenue
0           179         $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [176]:
updated_data_df = purchase_data_df.drop_duplicates(["SN"])
updated_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [177]:
updated_data_df["Gender"].value_counts()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [178]:
male_count = len(updated_data_df[updated_data_df["Gender"] == "Male"])
male_count

484

In [179]:
percent_male = round(male_count / player_count * 100)
percent_male

84

In [180]:
female_count = len(updated_data_df[updated_data_df["Gender"] == "Female"])
female_count

81

In [181]:
percent_female = round(female_count / player_count * 100)
percent_female

14

In [182]:
other_count = len(updated_data_df[updated_data_df["Gender"] == "Other / Non-Disclosed"])
other_count

11

In [183]:
percent_other = round(other_count / player_count * 100)
percent_other

2

In [184]:
gender_analysis = pd.DataFrame({"Gender": ["Male", "Female", "Other"],
                                "Total Count": [male_count, female_count, other_count],
                                "Percent": [percent_male, percent_female, percent_other]})
gender_analysis.set_index("Gender")

        Total Count  Percent
Gender
Male            484       84
Female           81       14
Other            11        2


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [191]:
gender_data_df = updated_data_df.groupby(["Gender"])
gender_data_df.mean().head()

                       Purchase ID        Age    Item ID     Price
Gender
Female                  337.061728  21.320988  82.419753  3.165802
Male                    354.588843  22.989669  94.493802  3.046901
Other / Non-Disclosed   260.727273  22.272727  80.454545  3.410909

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

* Break each bin into 4 years (i.e. &lt;10, 10-14, 15-19, etc.)

In [71]:
# Create the bins
# Bins are 0, 59.9, 69.9, 79.9, 89.9, 100.   
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99999]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [72]:
purchase_data_df["Age Demographics"] = pd.cut(purchase_data_df["Age"], bins=age_bins, labels=group_names, include_lowest=True)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
467,467,Adairialis76,16,Male,123,Twilight's Carver,2.28,15-19
142,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48,35-39
388,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",4.91,15-19
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
630,630,Aelaria33,23,Male,171,Scalpel,1.79,20-24
...,...,...,...,...,...,...,...,...
340,340,Yastyriaphos75,22,Male,41,Orbit,4.75,20-24
257,257,Yasur35,26,Male,175,Woeful Adamantite Claymore,4.48,25-29
514,514,Yasur85,21,Male,21,Souleater,1.10,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
572,572,Yoishirrala98,17,Female,145,Fiery Glass Crusader,4.58,15-19

In [192]:
agegroup_df = purchase_data_df.loc[:,["Price", "Age Demographics"]]
agegroup_df.count().head()

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame